// Make some things like squares

.iconInactive-98JN5i {
    border-radius: 0px;
}
.scrollableContainer-38zsVD {
    border-radius: 0px;
}
.wrapper-25eVIn foreignObject {
   mask: none;
}
.folderIconWrapper-226oVY {
    border-radius: 0px;
}
.item-2hkk8m {
    border-radius: 0px;
    margin-left: 0px;
    background-color: white;
}
.base-PmTxvP {
    border-radius: 0px;
}
.layout-2DM8Md {
    border-radius: 0px;
}
.scrollableContainer-2NUZem {
    border-radius: 0px;
}
.searchBar-3dMhjb {
    border-radius: 0px;
}
.scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG::-webkit-scrollbar-thumb, .scrollerThemed-2oenus.themeGhostHairlineChannels-3G0x9_ .scroller-2FKFPG::-webkit-scrollbar-thumb {
    border-radius: 0px;
}
.bar-30k2ka {
    border-radius: 0px;
}
.content-3at_AU {
    border-radius: 0px;
}
.platform-win .sidebar-2K8pFh {
    border-radius: 0px;
}
.unread-3zKkbm {
    border-radius: 0px
}
.scroller-2FKFPG::-webkit-scrollbar-thumb, .scroller-2FKFPG::-webkit-scrollbar-track {
    border-radius: 0px;
}
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    border-radius: 0px;
}
.imageWrapper-2p5ogY {
    border-radius: 0px;
}
.botTag-2WPJ74 {
    border-radius: 0px;
}
.embed-IeVjo6 {
    border-radius: 0px;
}
.embedImage-2W1cML img, .embedImage-2W1cML video, .embedThumbnail-2Y84-K img, .embedThumbnail-2Y84-K video, .embedVideo-3nf0O9 img, .embedVideo-3nf0O9 video {
    border-radius: 0px;
}